mixin card-show-list(item)
    div.card-show-list(style=item.bg ? `background-image: url("${item.bg}")`: '')
        if  item.title
            a(href='#')
                h2.show-title(style=item.bg ? 'background:#ffffffa6': '')= item.title
        ul.show-list(style=item.bg ? 'background:#ffffffa6': '')
            if(item.list&&item.list.length)
                each value in item.list
                    li
                        a(href=`${value.href}` target="_blank")=value.name